.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  font-size: x-small;
}

@media (min-width: 960px){
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1150px){
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}